@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: Raleway;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1277;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	background-color: #0F3739;
	// Скролл заблокирован
	.lock & {
		overflow: auto;
		touch-action: none;
		overscroll-behavior: none;
	}
	&._active {
		overflow: hidden;
	}
	// Сайт загружен
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";



.layer {
	opacity: 0;
	transition: all 0.5s ease 0s;
	&.__active {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #000000;
		opacity: 0.4;

	}
}

.main-menu {
	@include adaptiveValue("margin-top", 90, 40);
	&__container{
		@media (max-width: $mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__slider {
		border-radius: 13px;
		@media (max-width: $mobile) {
			border-radius: 0px;
		}
	}
	&__slide {
		cursor: pointer;
		& img {
			border: 1px solid #0F3739;
			border-radius: 13px;
			@media (max-width: $mobile) {
				border-radius: 0px;
			}
			width: 100%;
			object-fit: cover;
			
			
		}
	}
}
.main-menu__slider-pagination-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -80px;
	z-index: 10;
	& span {
		font-size: 0px;
		background-color: #fff;
		width: 10px;
		height: 10px;
		display: none;
		transition: all 0.3s ease 0s;
		@media (max-width: $mobile) {
			&.swiper-pagination-bullet {
				visibility: visible;
				display: block;
			}
			&.swiper-pagination-bullet-active {
				position: relative;
				display: block;
				width: 14px;
				height: 14px;
			}
		}
	}
}
.main-menu__slider-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("gap", 40, 0);
	width: auto !important;
	left: auto !important;
	padding-top: 30px;
	padding-bottom: 20px;
	& span {
		width: auto;
		background: none;
	}
}

.swiper-pagination-bullet {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	@include adaptiveValue("font-size", 20, 14);
	line-height: 23px;
	opacity: 0.6;
	
	@media (max-width: $mobile) {
		visibility: hidden;
	}
	
}
.swiper-pagination-bullet-active {
	color: #ffffff;
	font-weight: 700;
	@media (max-width: $mobile) {
		visibility: visible;
		position: absolute;
	}
	text-align: center;
}


//modile
.mobile {
	@include adaptiveValue("margin-top", 119, 70);
	background: #0E3032;
	&__container {
		@include adaptiveValue("padding-top", 100, 62);
		padding-top: 104px;
		@include adaptiveValue("padding-bottom", 120, 70);
	}
	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		@include adaptiveValue("font-size", 90, 34);
		line-height: 115%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		text-align: center;
		@include adaptiveValue("padding-bottom", 92, 34);
		color: transparent;
		-webkit-text-stroke: 2px #fff;

	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 170, 80);
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			gap: 35px;
		}
	}
}
.content-mobile {
	&__info {
		max-width: 470px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 153.88%;
		letter-spacing: 0.02em;
		color: #fff;
		padding-bottom: 25px;
	
		@media (max-width: $mobile) {
			padding-left: 5px;
			
		}
		
	}
	&__item {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 14);
		line-height: 175.38%;
		letter-spacing: 0.02em;
		color: #fff;
		position: relative;
		display: flex;
		align-items: center;
		@media (max-width: $mobile) {
			padding-left: 15px;
			
		}
		& span {
			font-weight: 700;
		}
		&::before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 15px;
		}
	}
	&__install {
		padding-top: 39px;
		padding-bottom: 31px;
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 31, 10);
		@media (max-width: $mobile) {		
		}
	}
	&__button {
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 153.88%;
		border: 2px solid #165659;
		border-radius: 8px;
		padding: 11px 48px;
		margin: 0 auto;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #118181;
		}
	}
	&__image {
		& img {
			width: 100%;
			object-fit: cover;
			@media (max-width: $mobile) {
				padding-left: 45px;
				padding-right: 45px;
			}
		}
	}
}

//coffiehouse

.coffiehouse {
	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding-top", 120, 50);
	}
	&__main-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		@include adaptiveValue("font-size", 90, 50);
		line-height: 153.88%;
		margin: 0 auto;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 2px #fff;
	}
}
.container-popup {
	@include adaptiveValue("padding-bottom",50, 32);
	margin: 0 auto;
	&__active {
		cursor: pointer;
		position: relative;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		@include adaptiveValue("font-size", 32, 18);
		line-height: 153.88%;
		color: #fff;
		letter-spacing: 0.02em;
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("top", 17.8, 10);
			right: 0px;
			width: 10px;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		
		&::before {
			right: -14px;
			transform: rotate(45deg);
		}
		&::after {
			right: -20px;

			transform: rotate(-45deg);
		}
		&._active {
			&::after {
				right: -20px;
	
				transform: rotate(45deg);
			}
			&::before {
				right: -14px;
				
				transform: rotate(-45deg);
			}
		}
	}
	&__list {
		position: absolute;
		z-index: 20;
		margin-top: 10px;
		background: #164e51;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		@include adaptiveValue("width", 160, 110);
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__item {
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 22px;
		line-height: 153.88%;
		letter-spacing: 0.02em;
		color: #fff;
		padding-right: 10px;
		padding-left: 15px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:hover {
			cursor: pointer;
			background-color: #14595d;
		}
	}
}
.buttons-coffiehouse {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	border: 2px solid #165659;
	border-radius: 12px;
	margin-bottom: 48px;
	padding: 5px;
	&__button {
		text-decoration: none;
		flex: 1 1 50%;
		@include adaptiveValue("padding-left", 236, 0);
		@include adaptiveValue("padding-right", 236, 0);
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 153.88%;
		letter-spacing: 0.02em;
		transition: background 0.3s ease 0s;
		&:hover {
			background: #165659;
			border-radius: 8px;
		}
		&._active {
			background: #165659;
			border-radius: 8px;
		}
	}
}

.images-coffiehouse {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-auto-flow: row;
	grid-gap: 37px;
	overflow: hidden;
	@media (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: $mobileSmall) {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
	&__wrap {
		display: inline-block;
		overflow: hidden;
		border-radius: 12px;
		& img {
			width: 100%;
			border-radius: 12px;
  			display: block;
			transition: all 1s ease 0s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

//townmenu

.townmenu {
	&__container {

		@include adaptiveValue("padding-top", 120, 70);
	}
	&__title {
		display: flex;
		justify-content: center;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		@include adaptiveValue("font-size", 90, 50);
		text-align: center;
		line-height: 153.88%;
		color: transparent;
		-webkit-text-stroke: 2px #fff;
		letter-spacing: 0.08em;
		padding-bottom: 34px;
	}
	&__navigation {
		padding-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	&__swiper-button-prev {
		padding: 15px 20px 15px 20px;
		border: 2px solid #165659;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #165659;
		}
	}
	&__swiper-button-next {
		padding: 15px 20px 15px 20px;
		border: 2px solid #165659;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #165659;
		}
	}
}
.swiper-wrapper {
	display: flex;
	align-items: center;
}
.swiper-slide {

	& img {
		width: 100%;
	}
}

//food

.food {
	&__container {
		padding-top: 130px;
	}
	&__swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 50px;
		@include adaptiveValue("gap", 170, 0);
		width: auto !important;
		left: auto !important;
		padding-top: 30px;
		padding-bottom: 50px;
		margin-bottom: 50px;
		border-bottom: 2px solid #ccc0c0;
		& span {
			display: flex;
			width: 100%;
			position: relative;
			background: none;
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 600;
			font-size: 26px;
			@include adaptiveValue("font-size", 26, 14);
			line-height: 31px;
			text-align: center;
			letter-spacing: 0.04em;
			color: #fff;
			@media (max-width: $mobileSmall) {
				
			}
			&::after {
				content: "";
				position: absolute;
				top: 58.8px;
				left: -40px;
				height: 1px;
				width: 250px;
				background-color: #fff;
			}
		}
		
	}
	&__slide {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-auto-flow: row;
		@include adaptiveValue("grid-gap", 43, 16);
		@media (max-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
		& img {
			border-radius: 15px;
		}
	}
	&__button-wrap {
		display: flex;
		justify-content: center;
		padding-top: 50px;
	}
	&__button-showmore {
		text-align: center;
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 153.88%;
		letter-spacing: 0.02em;
		color: #fff;
		width: 380px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid #165659;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #118181;
		}
	}
}

.slide-food {
	&__wrap {
		display: inline-block;
		overflow: hidden;
		border-radius: 12px;
		transition: all 1s ease 0s;
		& img {
			transition: all 1s ease 0s;
			&:hover {
				display: block;
				transform: scale(1.2);
			}
		}
	}
}


//corn

.corn {
	position: relative;
	z-index: 2	;
	margin-top: 114px;
	background: #0E3032;
	&__container {
		padding-top: 92px;
		padding-bottom: 113px;
	}
	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		@include adaptiveValue("font-size", 90, 50);

		line-height: 153.88%;
		letter-spacing: 0.08em;
		text-align: center;
		color: transparent;
		-webkit-text-stroke: 2px #fff;
	}
	&__slider {
		@include adaptiveValue("width", 1000, 320);
		position: relative;
		z-index: 5;
		
	}
	&__wrapper {
		padding-left: 332px;
		@media (max-width: $tablet) {
			padding: 0;
		}
	}
	&__slide {
		display: flex;
		justify-content: center;
	
		& img {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100%;
			box-shadow: none;
		}
		&.swiper-slide-active {
			display: flex;
			justify-content: center;
			& img {
				height: 120%;
				width: 120%;
			}
		}
	}
	&__nav {
		position: sticky;
		display: flex;
		justify-content: space-between;
		bottom: 50%;
		z-index: 10;
		@media(max-width: $tablet) {
			display: none;
		}
	}
	&__swiper-button-prev,
	&__swiper-button-next {

		padding: 10px 9px 10px 9px;
		border: 2px solid #165659;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		justify-content: center;
		& img {
			width: 12px;
			height: 12px;
		}
	
		&:hover {
			background: #165659;
		}
	}

}


//kitchen

.kitchen {
	&__container {
		padding-top: 91px;
		@media (max-width: $mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 800;
		@include adaptiveValue("font-size", 90, 40);
		line-height: 153.88%;
		text-align: center;
		letter-spacing: 0.08em;
		color: transparent;
		-webkit-text-stroke: 2px #fff;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__slide {
		cursor: pointer;
		& img {
			border: 1px solid #0F3739;
			border-radius: 13px;
			@media (max-width: $mobile) {
				border-radius: 0px;
			}
			width: 100%;
			object-fit: cover;
			
			
		}
	}
	&__swiper-pagination {
		display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("gap", 40, 0);
	width: auto !important;
	left: auto !important;
	padding-top: 30px;
	padding-bottom: 20px;
	& span {
		width: auto;
		background: none;
	}
	}
}

.kitchen {
	&__about {
		padding-left: 15px;
		padding-right: 15px;
		@include adaptiveValue("padding-top", 52, 27);
		@include adaptiveValue("padding-bottom", 62, 32);
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 170%;
		color: #fff;
	}
}
.get-kitchen {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $tablet) {
		flex-direction: column;
		gap: 35px;
		align-items: flex-start;
	}
	&__text {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 153.88%;
	}
	&__link {
		text-decoration: none;
		font-weight: 700;
	}
	&__button {
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 600;
		line-height: 153.88%;
		@include adaptiveValue("font-size", 18, 16);
		padding: 11px 85px;
		border: 2px solid #165659;
		border-radius: 8px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #118181;
		}
		@media (max-width: $mobile) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			padding-top: 11px;
			padding-bottom: 11px;
			text-align: center;
		}
	}
}


//user

.accumulation {
	@include adaptiveValue("padding-top", 130, 67);
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: 810px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}
}
.accumulation-content {
}
.content-accumulation {
	width: 100%;
		&__title {
			font-weight: 800;
			@include adaptiveValue("font-size", 65, 36);
			line-height: 115%;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 2px #fff;
			@media (max-width: 810px) {
				text-align: center;
			}
		}

		&__buttons {
			padding-top: 44px;
			display: flex;
			align-items: center;

			@include adaptiveValue("gap", 20, 5);
			@media (max-width: 810px) {
				justify-content: space-between;
				padding-top: 16px;
				padding-bottom: 10px;
				width: 100%;
				justify-content: space-between;
			}
		}

		&__button-1,
		&__button-2 {
			font-weight: 600;
			font-size: 18px;
			line-height: 153.88%;
			letter-spacing: 0.02em;
			color: #fff;
			text-decoration: none;
			border: 2px solid #165659;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 50px;
			text-align: center;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: #118181;
			}
			@media (max-width: 810px) {
				width: 100%;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
		&__button-2 {

		}
}
.card {
	display: flex;
	flex-direction: column;
	padding: 20px 28px;
	background: #0D4749;
	border-radius: 12px;
	align-self: center;
	@include adaptiveValue("min-width", 344, 240);
	@media (max-width: 810px) {
		min-width: 100%;
		margin-top: 5px;

	}
	&__account {
		font-weight: 400;
		font-size: 18px;
		line-height: 153.88%;
		letter-spacing: 0.02em;
		opacity: 0.6;
		padding-bottom: 10px;
	}

	&__money {
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0.02em;
		color: #fff;
		padding-bottom: 20px;
		
	}

	&__cashback {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: #fff;
	}
}


//user-table

.user-table {
	@include adaptiveValue("margin-top", 70, 40);
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__button {
		text-decoration: none;
		@include adaptiveValue("margin-top", 50, 16);
		width: 380px;
		font-weight: 600;
		font-size: 18px;
		line-height: 153.88%;
		color: #fff;
		letter-spacing: 0.02em;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 2px solid #165659;
		border-radius: 8px;
		@include adaptiveValue("margin-bottom", 62, 38);
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #118181;
		}
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
.table-bonuses {
	width: 100%;
	position: relative;
	&__arrow {
		display: none;
		@media (max-width: 894px) {
			display: block;
			position: absolute;
			right: 30px;
			&._active {
				transform: rotate(180deg);
			}
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid#165659;
		background: #0D4749;
		border-radius: 10px 10px 0px 0px;
	}

	&__header-item {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		
		color: #FFFFFF;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 894px) {
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.h1 {
			@include adaptiveValue("width", 277, 100);
			@media (max-width: 894px) {
				width: 100%;
			}
		}
		&.h2 {
			@media (max-width: 894px) {
				display: none;
			}
		}
		&.h3 {
			@include adaptiveValue("width", 315, 100);
			@media (max-width: 894px) {
				width: 100%;
				
			}
			@media (max-width: $mobileSmall) {
				padding-right: 15px;
			}
		}

	}
	&__spoller {
		display: none;
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		text-align: left;
		background-color: #0D4749;
		@include adaptiveValue("padding-top", 34, 14);
		@include adaptiveValue("padding-bottom", 34, 14);
		border: 1px solid#165659;
		border-top: none;
		text-align: center;
		@media (max-width: $mobileSmall) {
			text-align: left;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #165659;
		border-left: 1px solid #165659;
		border-right: 1px solid #165659;
		transition: all 0.3s ease 0s;
		pointer-events: none;
		transition: background 0.5s step-start 0s;
		@media (max-width: 894px) {
			pointer-events: all;
		}
		&._active {
			background-color: #0D4749;
		}
	}
	&__content-item {
		font-weight: 400;
		line-height: 21px;
		@include adaptiveValue("font-size", 18, 16);
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $mobileSmall) {
			justify-content: flex-start;
			padding-left: 15px;
		}
		&.c1 {
			@include adaptiveValue("width", 277, 100);
			@media (max-width: 894px) {
				width: 100%;
			}
		}
		&.c2 {
			@media (max-width: 894px) {
				display: none;
			}
		}
		&.c3 {
			@include adaptiveValue("width", 315, 100);
			@media (max-width: 894px) {
				width: 100%;
				@media (max-width: $mobileSmall) {
					justify-content: start;
				}
				/*&::before,
				&::after {
					content: "";
					position: absolute;
					width: 14px;
					height: 1.7px;
					right: 21px;
					background-color: #118181;
				}
				&::before {
					transform: rotate(-45deg);
				}
				&::after {
					transform: rotate(45deg);
					right: 30px;
				}
				&._active {
					&::before {
						transform: rotate(45deg);
					}
					&::after {
						transform: rotate(-45deg);
						
					}
				}*/
			}
		}
	}
}

